@use '@angular/material' as mat;
@use 'libs/ui/components/src/lib/theme/variables' as theme;

// Tipografía Google Fonts (Optimizar en index.html en prod)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Estilos para mapa usando leaflet
@import 'leaflet/dist/leaflet.css';

// Reset y Core de Angular Material
@include mat.core();

// Aplicar Tema Material
@include mat.all-component-themes(theme.$gob-theme);

// Exponer variables para Tailwind
@include theme.expose-theme-to-css();

// Tailwind Directives
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}
